{% extends "base.html" %}

{% block title %}password update{% endblock %}

{% block content %}
<div class="flex justify-center items-center max-w-7xl h-full mx-auto px-8">
  <form action="{{ url_for('auth.password_update') }}" method="post" class="flex flex-col gap-4 caret-caret-color">
    <input class="rounded-lg p-2 bg-sub-color text-text-color" type="text" placeholder="old password" name="old-password">
    <input class="rounded-lg p-2 bg-sub-color text-text-color" type="text" placeholder="new password" name="new-password">
    <div class="flex flex-row-reverse items-center justify-around">
      <button class="rounded-lg px-3 py-2 transition-colors bg-sub-color text-text-color hover:bg-sub-alt-color hover:text-main-color focus:bg-sub-alt-color focus:text-main-color" type="submit">update</button>
      <a href="{{ url_for('auth.password_reset_request') }}" class="transition-colors hover:text-text-color focus:text-text-color">reset</a>
    </div>
  </form>
</div>
{% endblock %}