{% from "constants.html" import ICONS, API_ROUTES %}


{% macro svgBase(destUrl="#", isAbsolute=1, svgName="", target="_self", useText="", _divStyle="", _aStyle="", _svgStyle="") %}
<div class="select-none transition-colors fill-current text-sub-color hover:text-text-color {{ _divStyle|safe }}">
  <a {% if isAbsolute == 1 %}href="{{ destUrl }}"{% else %}href="{{ url_for(destUrl) }}"{% endif %} target="{{ target|e }}" class="{{ _aStyle }}">
    <svg class="fill-current {{ _svgStyle}}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 {{ ICONS[svgName].dimension }}">
      {{ ICONS[svgName].path|safe }}
    </svg>
    {{ useText }}
  </a>
</div>
{% endmacro %}


{% macro svgBaseButton(svgName="", svgClass="", buttonId="") %}
<button id="{{ buttonId }}" class="transition-colors fill-current text-sub-color hover:text-text-color">
  <svg class="fill-current {{ svgClass }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 {{ ICONS[svgName].dimension }}">
    {{ ICONS[svgName].path|safe }}
  </svg>
</button>
{% endmacro %}


{% macro svgNavbar(destUrl="#", svgName="") %}
  {{ svgBase(destUrl=destUrl, isAbsolute=0, svgName=svgName, _divStyle="px-2", _svgStyle="w-[1.1rem] h-[1.1rem]") }}
{% endmacro %}


{% macro svgFooter(destUrl="#", isAbsolute=1, svgName="", target="_self", useText="") %}
  {{ svgBase(destUrl=destUrl, isAbsolute=isAbsolute, svgName=svgName, target=target, useText=useText, _divStyle="gap-[.25em] px-[.25em] leading-4 text-[.75rem] w-fit h-fit justify-start items-baseline", _svgStyle="inline-block w-3 h-3 mr-[-.15rem]") }}
{% endmacro %}


{% macro footerKey(key) %}
<span class="rounded-[.1rem] px-[.3rem] py-[.1rem] mx-[.25rem] leading-[.7rem] text-[.7rem] bg-sub-color text-bg-color">{{ key }}</span>
{% endmacro %}


{% macro svgTimerButton(svgName="", buttonId="") %}
{{ svgBaseButton(svgName=svgName, svgClass="inline-block w-6 h-6", buttonId=buttonId) }}
{% endmacro %}


{% macro svgUserDataButton(svgName="", buttonId="") %}
{{ svgBaseButton(svgName=svgName, svgClass="w-[1.1rem] h-[1.1rem]", buttonId=buttonId) }}
{% endmacro %}


{% macro utilsBar(apiRoute, formId="", outerDivId="", inputId="", buttonId="", inputName="", buttonType="submit", svgName="") %}
<form id="{{ formId }}" {% if apiRoute %}action="{{ url_for(apiRoute) }}" method="post"{% endif %} class="flex-none h-fit w-full">
  <div id="{{ outerDivId }}" class="flex flex-row items-center py-2 px-4 bg-sub-alt-color transition-colors duration-300 rounded-lg">
    <input type="text" name="{{ inputName }}" id="{{ inputId }}" class="flex-grow w-20 rounded-lg caret-transparent text-text-color bg-transparent transition-colors duration-300 preventEnterKey" autocomplete="off">
    <button type="{{ buttonType }}" id="{{ buttonId }}" class="flex-none transition-colors duration-300 text-sub-color hover:text-text-color">
      <svg class="w-4 h-4 ml-2 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 {{ ICONS[svgName].dimension }}">
        {{ ICONS[svgName].path|safe }}
      </svg>
    </button>
  </div>
</form>
{% endmacro %}


{% macro utilsItem(apiRouteEdit, apiRouteDelete, inputNameEdit, inputNameDelete, formClassEdit, formClassDelete, content="") %}
<div class="flex flex-row items-center py-2 px-4 max-w-full h-fit bg-sub-alt-color rounded-lg group snap-start transition-colors duration-300 utils-item">
  <div class="flex-grow line-clamp-[99] transition-all duration-300 text-sub-color hover:text-text-color focus:text-text-color cursor-pointer caret-caret-color text-sm utils-item-content item-copy-content">{{ content|e }}</div>
  <div class="flex flex-col flex-none justify-between pb-[1%] text-sub-color opacity-0 group-hover:opacity-100 transition-all duration-500">
    <form action="{{ url_for(apiRouteEdit) }}" method="post" class="select-none utils-item-edit-form {{ formClassEdit }}">
      <input class="utils-item-edit-input" type="hidden" name="{{ inputNameEdit }}" value="{{ content|e }}" autocomplete="off">
      <button type="button" class="transition-colors duration-300 fill-current text-sub-color hover:text-text-color focus:text-text-color utils-item-edit-button">
        <svg class="fill-inherit inline-block w-4 h-4 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 {{ ICONS['pen-to-square_'].dimension }}">
          {{ ICONS['pen-to-square_'].path|safe }}
        </svg>
      </button>
    </form>
    <form action="{{ url_for(apiRouteDelete) }}" method="post" class="select-none {{ formClassDelete }}">
      <input class="utils-item-delete-input" type="hidden" name="{{ inputNameDelete }}" value="{{ content|e }}" autocomplete="off">
      <button type="submit" class="transition-colors duration-300 fill-current text-sub-color hover:text-text-color focus:text-text-color">
        <svg class="fill-inherit inline-block w-4 h-4 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 {{ ICONS['trash-can_'].dimension }}">
          {{ ICONS['trash-can_'].path|safe }}
        </svg>
      </button>
    </form>
  </div>
</div>
{% endmacro %}


{% macro chatbotServerMsg(apiRouteReload, inputNameReload, content="") %}
<div class="flex flex-row items-center py-2 px-4 max-w-full h-fit bg-sub-alt-color rounded-lg group snap-start transition-colors duration-300 utils-item">
  <div class="flex-grow line-clamp-[99] transition-all duration-300 text-sub-color hover:text-text-color focus:text-text-color cursor-pointer caret-caret-color text-sm utils-item-content item-copy-content">{{ content|e }}</div>
  <div class="flex flex-col flex-none justify-between pb-[1%] text-sub-color opacity-0 group-hover:opacity-100 transition-all duration-500">
    <form action="{{ url_for(apiRouteReload) }}" method="post" class="select-none utils-item-edit-form">
      <input type="hidden" name="{{ inputNameReload }}" value="{{ content|e }}" autocomplete="off">
      <button class="utils-item-edit-button"></button>
      <button type="submit" class="transition-colors duration-300 fill-current text-sub-color hover:text-text-color focus:text-text-color">
        <svg class="fill-inherit inline-block w-4 h-4 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 {{ ICONS['rotate'].dimension }}">
          {{ ICONS['rotate'].path|safe }}
        </svg>
      </button>
    </form>
  </div>
</div>
{% endmacro %}